<div class="col-md-12">
    <div class="clearfix">
        &nbsp;
    </div>
    <div class=" col-md-12">

        <button class="btn btn-sm btn-danger pull-right"
                ng-click="reports.showResults = true"><i class="fa fa-close"></i> close
        </button>
        <div class="pull-right"> &nbsp;&nbsp; </div>
        <button class="btn btn-sm btn-primary pull-right"
                ng-click="samples.printDiv('printable-response')"><i class="fa fa-print"></i> print
        </button>
    </div>
    <div class="clearfix">
        &nbsp;
    </div>
    <div  id="printable-response">
        <div class="h3 text-center col-md-12">
            <img src="images/nphl-logo-2.png"/><br>
            RESPONSE PT REPORT <i class="fa fa-spin {{reports.loader}}"></i>
            <hr>
        </div>
        <div class="panel panel-primary">
            <div class="panel panel-body">
                <div class="h4 text-center col-md-12 text-bold border-bottom">
                    <b> MINISTRY OF HEALTH<br>
                        NATIONAL PUBLIC HEALTH LABORATORY<br>
                        NATIONAL MICROBIOLOGY REFERENCE LABORATORY - NAIROBI, KENYA<br>
                        STANDARD OPERATING PROCEDURE
                    </b>
                </div>
                <div class="h5 col-md-12 text-bold text-left  border-bottom">
                    <br>
                    LABORATORY NAME : {{samples.loginDetails.institute_name}} <br><br>
                    ADDRESS: {{samples.loginDetails.shipping_address}} <br><br>
                    LABORATORY CODE : {{samples.loginDetails.unique_identifier}} <br><br>
                    E-MAIL ADDRESS : {{samples.loginDetails.email}} <br><br>
                    DATE PT SAMPLES RECEIVED IN THE LABOLATORY : {{reports.currentResults.dateDelivered}}<br><br>
                    DATE RETURNED : {{reports.userResults.results.dateCreated}}<br>
                    <br>
                </div>
                <div class="h5 col-md-12 text-bold text-left  border-bottom table-bordered">
                    <br>
                    Grade : {{reports.userResults.results.grade}} <br><br>
                    Total Score:
                    {{reports.userResults.results.finalScore}}
                    <br><br>
                    Remarks : {{reports.userResults.results.remarks}} <br><br>

                    <br>
                </div>
                <div class="col-md-12">
                    <h4>MICROBIOLOGY IDENTIFICATION REPORT

                    </h4>
                    <div class="">
                        <table class="table table-bordered">
                            <thead class="btn-primary">
                                <tr>
                                    <th>
                                        SAMPLE
                                    </th>
                                    <th>
                                        SOURCE
                                    </th>
                                    <th>
                                        CLINICAL DETAILS
                                    </th>
                                    <th>
                                        INSTRUCTIONS
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{reports.currentResults.batchName}}</td>
                                    <td>{{reports.currentResults.materialSource}}</td>

                                    <td>{{reports.currentResults.sampleDetails}}</td>
                                    <td>{{reports.currentResults.sampleInstructions}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <form class="form-horizontal" novalidate="" name="resultsData">
                        <table class="table table-bordered">
                            <thead class="btn-primary">
                                <tr>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Results
                                    </th>
                                    <th>
                                        Expected Results
                                    </th>
                                    <th>
                                        score
                                    </th>
                                </tr>
                            </thead>
                            <tbody ng-form novalidate="" name="resultsData">
                                <tr>
                                    <td width="30%">Gram stain reaction and morphology</td>
                                    <td width="30%">
                                        {{reports.userResults.results.grainStainReaction}}
                                    </td>
                                    <td width="30%">{{reports.userResults.expectedResults.expectedResults.grainStainReaction}}</td>
                                    <td class="10%">
                                        <b ng-show="reports.userResults.results.grainStainReactionScore > -1">
                                            {{reports.userResults.results.grainStainReactionScore}}
                                        </b>
                                        <b ng-hide="reports.userResults.results.grainStainReactionScore > -1">
                                            N/A
                                        </b>
                                    </td>


                                </tr>
                                <tr>
                                    <td width="30%">Details of primary media used for isolation and manufacturer</td>
                                    <td width="30%"> {{reports.userResults.results.primaryMedia}}</td>
                                    <td></td>
                                    <td class="10%"> --
                                    </td>

                                </tr>
                                <tr>
                                    <td width="30%">Incubation conditions</td>
                                    <td width="30%"> {{reports.userResults.results.incubationConditions}}</td>
                                    <td></td>
                                    <td class="10%"> --
                                    </td>

                                </tr>
                                <tr>
                                    <td width="30%">Colonial morphology (colony appearance on media)</td>
                                    <td width="30%"> {{reports.userResults.results.colonialMorphology}}</td>
                                    <td></td>
                                    <td class="10%"> --
                                    </td>

                                </tr>
                                <tr>
                                    <td width="30%">Bacterial quantification (if applicable)</td>
                                    <td width="30%"> {{reports.userResults.results.bacterialQualification}}</td>
                                    <td></td>
                                    <td class="10%"> --
                                    </td>

                                </tr>
                                <tr>
                                    <td width="30%">Biochemical reagents or test used for organisms identification e.g. API,
                                        Indole.
                                        Indicate
                                        the reaction observed.
                                    </td>

                                    <td width="30%"> {{reports.userResults.results.bacterialReagents}}</td>
                                    <td></td>
                                    <td class="10%"> --
                                    </td>

                                </tr>
                                <tr>
                                    <td width="30%">Discuss further processing of isolate e.g. serotyping:</td>
                                    <td width="30%"> {{reports.userResults.results.isolateProcessing}}</td>
                                    <td></td>
                                    <td class="10%"> --

                                    </td>

                                </tr>

                                <tr>
                                    <td width="30%">Final identification (i.e. report given to clinician)</td>
                                    <td width="30%"> {{reports.userResults.results.finalIdentification}}</td>
                                    <td width="30%">{{reports.userResults.expectedResults.expectedResults.finalIdentification}}</td>
                                    <td class="10%"> 
                                        <b ng-show="reports.userResults.results.finalIdentificationScore > -1">
                                            {{reports.userResults.results.finalIdentificationScore}}
                                        </b>
                                        <b ng-hide="reports.userResults.results.finalIdentificationScore > -1">
                                            N/A
                                        </b>


                                    </td>

                                </tr>
                                <tr class="text-bold">
                                    <td width="30% ">
                                        TOTAL SCORE
                                    </td>
                                    <td width="00%"> 
                                        {{reports.addGramFinals(reports.userResults.results.finalIdentificationScore,
                                               reports.userResults.results.grainStainReactionScore)}}
                                    </td>
                                    <td></td>
                                    <td class="10%">

                                    </td>
                                </tr>
                                <tr class="text-bold">
                                    <td width="30%">
                                        Remarks
                                    </td>
                                    <td width="30%"> {{reports.userResults.results.remarks}}</td>
                                    <td></td>
                                    <td class="10%">

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>
            <div class="col-md-12">
                <h4>SUSCEPTIBILITY TESTING REPORT</h4>
                <div class="">
                    <br>
                </div>
                <div class="form-horizontal" novalidate="" name="resultsData">
                    <table class="table table-bordered">
                        <thead class="btn-primary">
                            <tr>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Results
                                </th>



                            </tr>
                        </thead>
                        <tbody ng-form novalidate="" name="susceptibilityData">
                            <tr>
                                <td width="30%">Survey number</td>
                                <td width="70%">{{reports.currentResults.roundName}}</td>


                            </tr>
                            <tr>
                                <td width="30%">Isolate identification</td>
                                <td width="70%">{{reports.userResults.susceptibility.isolateIdentification}}</td>


                            </tr>
                            <tr>
                                <td width="30%">Method used for disc diffusion (Kirby Bauer, Stroke etc.)</td>
                                <td width="70%">{{reports.userResults.susceptibility.methodUsed}}</td>


                            </tr>
                            <tr>
                                <td width="30%">Media used</td>
                                <td width="70%">{{reports.userResults.susceptibility.mediaUsed}}</td>


                            </tr>
                            <tr>
                                <td width="30%">Manufacturer of media</td>
                                <td width="60%">{{reports.userResults.susceptibility.mediaManufacturer}}</td>


                            </tr>
                            <tr>
                                <td width="30%">Manufacturer of disc and disc size (mm):
                                </td>

                                <td width="70%">{{reports.userResults.susceptibility.discManufacturer}}</td>


                            </tr>
                            <tr>
                                <td width="30%">Guidelines used (CLSI):</td>
                                <td width="70%">{{reports.userResults.susceptibility.guidelines}}</td>


                            </tr>
                            <tr class="text-bold">
                                <td width="30%">
                                    Recommedations
                                </td>
                                <td width="70%">{{reports.userResults.susceptibility.remarks}}</td>

                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="">

                    <h4>ANTIMICROBIAL AGENT</h4>
                    <div class="">
                        <br>
                    </div>
                    <table class="table table-bordered">
                        <thead class="btn-primary">
                            <tr>
                                <th>
                                    ANTIMICROBIAL
                                    AGENT

                                </th>
                                <th>
                                    Reported to
                                    Clinician(Yes or No)

                                </th>
                                <th>
                                    DISK CONTENT
                                    (&micro;g or Units)

                                </th>

                                <th>
                                    S <sup>1</sup>
                                </th>
                                <th>
                                    I <sup>2</sup>
                                </th>
                                <th>
                                    R <sup>3</sup>
                                </th>
                                <th>Score</th>

                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="fields in  reports.userResults.microAgents">
                                <td nowrap>
                                    {{fields.antiMicroAgent}}
                                </td>
                                <td>
                                    {{fields.reportedToStatus}}
                                </td>

                                <td>
                                    {{fields.diskContent}}
                                </td>

                                <td>
                                    <i ng-show="fields.finalScore == 'S'"
                                       class="fa fa-check-circle fa-2x"></i>
                                </td>
                                <td>
                                    <i ng-show="fields.finalScore == 'I'"
                                       class="fa fa-check-circle fa-2x"></i>
                                </td>
                                <td>

                                    <i ng-show="fields.finalScore == 'R'"
                                       class="fa fa-check-circle fa-2x"></i>
                                </td>
                                <td>
                                    {{fields.score}}
                                </td>

                            </tr>

                            <tr class="text-bold">
                                <td>
                                    SCORE
                                </td>
                                <td colspan="6">
                                    {{reports.userResults.results.totalMicroAgentsScore}}
                                </td>

                            </tr>
                    </table>
                    <table class="table table-bordered">
                        <tr class="text-bold">
                            <td>
                                RECOMMEDATIONS
                            </td>
                            <td colspan="6">
                                {{reports.userResults.results.remarks}}
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="">
                    <br><br>
                    <h4>CORRECTIVE ACTION</h4>
                    <hr>
                    <div class="">
                        <table class="table table-bordered">
                            <tr>
                                <td>
                                    <div ng-show="reports.userResults.results.correctiveAction == 1">
                                        <b>Please taken a corrective action</b>
                                    </div>
                                    <div ng-show="reports.userResults.results.correctiveAction == 0">
                                        <b>N/A</b>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
