<div class="">
    <!--
    <div class="h4 border-bottom col-md-12">
        Panels & Samples in Lab
        <i class="fa fa-spin {{samples.loaderProgressSpinner}}"></i>

        <div class="col-md-1 pull-right"><a href="#" class=" label label-default btn-sm"
                                            ng-click="samples.getAllSamples('tbl_bac_panel_mst')"><i
                class="fa fa-refresh"></i>
        </a>
            &nbsp;
        </div>

    </div-->
    <h3> Delivered Panels
        <small class="label label-info">{{samples.panelsToShipment.length}} records</small>
        <i class="fa fa-spin {{samples.loaderProgressSpinner}}"></i>
        <div class="pull-right col-mod-12">
            <item-per-page></item-per-page>
            <div class="pull-right" ng-init="expand=true">
                <small><a href="#" ng-click="expand=!expand"><i class="fa fa-expand"></i> </a></small>
            </div>
            <div class="col-md-7 pull-right">
                <input type="search" class="col-md-12"

                       data-placement="right" data-type="info" data-container="body" data-animation="am-fade-and-scale"
                       data-trigger="hover" data-type="success" data-title="Search inside results" bs-tooltip
                       ng-model="samples.searchData">
            </div>
            <div class="col-md-1 pull-right">
                <a href="#" class=" btn btn-default btn-sm"
                   data-placement="right" data-type="info" data-container="body" data-animation="am-fade-and-scale"
                   data-trigger="hover" data-type="success" data-title="Click to load data" bs-tooltip
                   ng-click="samples.getParticipantPanel('tbl_bac_panels_shipments')"><i
                        class="fa fa-refresh"></i>
                </a>
                &nbsp;
            </div>
        </div>
    </h3>


    <div>
        <div class="text-capitalize path">
            <a href="#" ng-click="samples.samplesActivePage('addReceivedSamples', 1)"
               ng-show="samples.showShipmentInfoStatus"
            >
                Shipments : {{samples.clickedShipmentData.shipmentName }}
                <small>
                    <i>{{samples.clickedShipmentData.datePrepared}}</i></small>
            </a>
            <!--<button class="btn btn-sm btn-success pull-right col-md-1" ng-click="samples.samplesActivePage('addReceivedSamples', 1)"> << Back</button>-->
        </div>
        <table class="table table-striped table-condensed table-bordered" id="printableTable">
            <thead>
            <tr>
                <th>#.</th>
                <th>Panel Name</th>
                <th>Panel Type</th>
                <th>Panel Label</th>
                <th>Prepared on</th>

                <th>Delivered on</th>
                <th>Status</th>
                <!--                                <th>Date Saved</th>-->
                <th>Ship't Number</th>
                <th>Lab ID</th>
                <th>Total Samps. Types</th>
                <th>Created on</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="panel in samples.panelsToShipment | itemsPerPage: samples.itemsPerPage |filter : samples.searchData">
                <td>{{$index+1}}</td>
                <td><a href="#/{{panel.id}}" ng-click="receive.showPanelFullDetails(panel)"
                       data-placement="right" data-type="info" data-container="body" data-animation="am-fade-and-scale"
                       data-trigger="hover" data-type="success"
                       data-title="Click to view more about {{panel.panelName}} panel" bs-tooltip

                       ng-show="panel.totalSamplesAdded >0 && panel.shipmentDeliveryStatus !=2"
                       class="">{{panel.panelName}}</a>

                    <x ng-show="panel.totalSamplesAdded==0 || panel.shipmentDeliveryStatus ==2">{{panel.panelName}}</x>
                </td>
                <td>{{panel.panelType}}</td>
                <td>{{panel.panelLabel}}</td>
                <td>{{panel.panelDatePrepared}}</td>
                <td nowrap>{{panel.dateDelivered}}</td>
                <td nowrap>{{samples.returnPanelStatus(panel.deliveryStatus)}}</td>
                <!--                                <td nowrap>{{sample.dateCreated}}</td>-->
                <td nowrap>{{samples.clickedShipmentData.shipmentLabel}}</td>
                <td nowrap>{{panel.participantId}}</td>

                <td nowrap>{{panel.totalSamplesAdded}}</td>
                <td nowrap>{{panel.dateCreated}}</td>
                <td nowrap>
                    <a class="btn btn-danger btn-sm" ng-disabled="panel.deliveryStatus > 3|| panel.shipmentDeliveryStatus==2"
                       data-placement="right" data-type="info" data-container="body" data-animation="am-fade-and-scale"
                       data-trigger="hover" data-type="success" data-title="Reject {{panel.panelName}} panel" bs-tooltip
                       ng-click="samples.panelReceived(panel,'tbl_bac_sample_to_panel',5)"><i
                            class="fa fa-thumbs-down"></i>
                    </a>
                    <a class="btn btn-success btn-sm"
                       ng-disabled="panel.deliveryStatus > 3 || panel.shipmentDeliveryStatus==2"
                       data-placement="right" data-type="info" data-container="body" data-animation="am-fade-and-scale"
                       data-trigger="hover" data-type="success"
                       data-title="Successfully receive {{panel.panelName}} panel" bs-tooltip
                       ng-click="samples.panelReceived(panel,'tbl_bac_sample_to_panel',4)"><i
                            class="fa fa-thumbs-up"></i>
                    </a>
                    <a class="btn btn-primary btn-sm"
                       data-placement="right" data-type="info" data-container="body" data-animation="am-fade-and-scale"
                       data-trigger="hover" data-type="success" data-title="Print Barcode {{panel.panelName}} panel"
                       bs-tooltip
                       href="#barcodeModal" data-backdrop="false" data-toggle="modal"
                       ng-click="samples.generateBarcode(panel)"><i class="fa fa-barcode"></i>
                    </a>

                </td>
            </tr>

            </tbody>
        </table>

        <div id="demos">

        </div>
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" max-size="5"
                                 direction-links="true"
                                 boundary-links="true">
        </dir-pagination-controls>
        <div ng-include="'../partialHTMLS/barcodePrinting.html'" onload="samples.showBarcode()">

        </div>
    </div>


</div>
<script>

</script>

