<div class="" ng-controller="ReportsController">
    <div class="" ng-show="reports.showResults">
        <div class="col-md-12 clearfix">
            <h3>Response Reports
                <small>{{reports.responseInfoData.length}} records</small>
                <i class="fa fa-spin {{reports.loader}}"></i></h3>
        </div>
        <div class="col-md-12 no-padding text-center">
            <form name="search" novalidate>
                <table class="table table-bordered">

                    <div class="col-md-3 no-padding">

                        <input type="text" class="form-control input-sm" ng-model="reports.whereGenRounds.dateFrom"
                               data-date-format="yyyy-MM-dd" required placeholder="select from date"
                               data-min-date="" data-max-date="today"
                               data-autoclose="1" aria-describedby="basic-addon2"
                               name="dateFrom"
                               bs-datepicker>
                    </div>
                    <div class="col-md-3 ">

                        <input type="text" class="form-control input-sm" ng-model="reports.whereGenRounds.dateTo"
                               data-date-format="yyyy-MM-dd" placeholder="By default,(TO-DATE)"
                               data-min-date="reports.whereGenRounds.dateFrom" data-max-date="today"
                               data-autoclose="1" aria-describedby="basic-addon1"
                               name="dateTo"
                               bs-datepicker>
                    </div>
                    <div class="col-md-3 no-padding">
                        <input class="form-control input-sm" placeholder="search">
                    </div>
                    <div class="col-md-2 ">
                        <select class="form-control input-sm" ng-model="reports.whereGenRounds.feedBack">
                            <option selected disabled>--Response Status--</option>
                            <option value="1">Responded</option>
                            <option value="0">Pending</option>
                            <option value="2">Waiting</option>
                        </select>
                    </div>
                    <div>
                        &nbsp;
                        <button class="btn btn-sm btn-info" ng-disabled="search.$invalid"
                                ng-click="reports.getUserResults(reports.whereGenRounds,1)">get report
                        </button>
                    </div>

                </table>
            </form>
        </div>
        <div class="col-md-12 no-padding">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>#</td>
                    <th>Round Name</th>
                    <th>Round Code</th>
                    <th>Sample</th>
                    <th>organisms Score</th>
                    <th>Susceptibility Score</th>

                    <th>Grade</th>
                    <th>Date</th>
                    <th>Remarks</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="sampleResponse in reports.responseInfoData | itemsPerPage: samples.itemsPerPage ">
                    <td>{{$index+1}}</td>
                    <td><a href="#/{{sampleResponse.id}}"
                           data-placement="right" data-type="info" data-container="body"
                           data-animation="am-fade-and-scale"
                           data-trigger="hover" data-type="success" data-title="More infor on {{round.roundCode}}"
                           bs-tooltip
                           ng-click="samples.showRoundFullDetails(round)"
                           class="">{{sampleResponse.roundName}}</a>
                    </td>
                    <td>{{sampleResponse.roundCode}}</td>
                    <td>{{sampleResponse.batchName}}</td>
                    <td>{{sampleResponse.totalCorrectScore}}</td>
                    <td nowrap>{{sampleResponse.totalMicroAgentsScore}}</td>

                    <td nowrap>{{sampleResponse.grade}}</td>
                    <td>{{samples.returnSubstring(sampleResponse.dateCreated,10)}}</td>
                    <td>{{sampleResponse.remarks}}</td>
                    <td  ng-controller="PdfController">
                        <button class="btn btn-warning btn-sm"
                                ng-click="reports.showReponseFullInfo(sampleResponse)">
                            <i class="fa fa-eye"></i> view
                        </button>
                        <button class="btn btn-info btn-sm"
                                ng-click="pdfMake.generateUserResponseForm(sampleResponse)">
                            <i class="fa fa-print"></i>
                        </button>
                    </td>
                </tr>
                <tr ng-hide="reports.responseInfoData.length >0">
                    <td colspan="10" class="text-center">No records available</td>
                </tr>
                </tbody>
            </table>
        </div>
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" max-size="25"
                                 direction-links="true"
                                 boundary-links="true">
        </dir-pagination-controls>
    </div>
    <div class="" ng-if="!reports.showResults">

        <div ng-include="'../partialHTMLS/labOperations/showFullResponseForm.html'">

        </div>
    </div>
</div>
