<div id="receiveShipments" class="modal fade" ng-if="samples.showReceiveShipment">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                        ng-click="samples.hideShipmentModal()">&times;
                </button>
                <h4 class="modal-title">Receive Shipment
                    {{samples.currentShipment.shipmentName| capitalizeLetter}}
                    {{samples.currentShipment.shipmentDsc| capitalizeLetter}}

                </h4>
            </div>

            <div class="modal-body">
                <div class="container">
                    <div class="alert {{samples.feedbackObject.fbbgColor}}" ng-show="samples.feedbackObject.fbStatus">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Response : </strong> {{samples.feedbackObject.fbMessage}}
                    </div>
                    <form class="form-horizontal " name="receiveShipmentForm" novalidate="">
                        <div class="form-group " ng-hide="true"
                             ng-class="{ 'has-error'  : receiveShipmentForm.dateReceived.$invalid && !receiveShipmentForm.dateReceived.$pristine }">
                            <label for="dateReceived" class="col-2 col-form-label">Actual Date Received</label>
                            <div class="col-10">

                                <div class="input-group" ng-hide="true">
                                    <span class="input-group-addon" id="basic-addon2"><i
                                            class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control col-md-12" id="dateReceived"
                                           ng-model="samples.receiveShipmentFormData.dateReceived"
                                           data-date-format="yyyy-MM-dd"
                                           data-min-date="" data-max-date="today" style="max-width: 45.5%;"
                                           data-autoclose="1" aria-describedby="basic-addon2"
                                           name="panelDateOfDelivery"
                                           bs-datepicker>
                                </div>
                                <small class="text-danger col-md-12"
                                       ng-show="receiveShipmentForm.dateReceived.$invalid && !receiveShipmentForm.dateReceived.$pristine">
                                    Error : please check you date format : e.g 2016-10-22/yyyy-MM-DD
                                </small>
                            </div>

                        </div>
                        <div class="form-group " ng-hide="true"
                             ng-class="{ 'has-error'  : receiveShipmentForm.panelsReceived.$invalid && !receiveShipmentForm.panelsReceived.$pristine }">
                            <label for="panelsReceived" class="col-2 col-form-label"># Panels Received</label>
                            <div class="col-10">
                                <input class="form-control" type="text" id="panelsReceived"
                                       name="panelsReceived" ng-pattern="samples.numericOnly" style="max-width: 47%;"
                                       ng-model="samples.receiveShipmentFormData.panelsReceived">
                            </div>
                            <small class="text-danger col-md-12"
                                   ng-show="receiveShipmentForm.panelType.$invalid && !receiveShipmentForm.panelType.$pristine">
                                Error : Required & Only numbers,alphabets,hyphen and dashes allowed
                            </small>
                        </div>

                        <!--<div class="form-group "-->
                        <!--ng-class="{ 'has-error'  : receiveShipmentForm.courier.$invalid && !receiveShipmentForm.courier.$pristine }">-->
                        <!--<label for="type" class="col-2 col-form-label">Courier</label>-->
                        <!--<div class="col-10">-->
                        <!--<input class="form-control" type="text" id="type" required name="courier"-->
                        <!--ng-pattern="samples.alphaNumHyDashSpaceRegExp"-->
                        <!--ng-model="samples.receiveShipmentFormData.courier">-->
                        <!--</div>-->
                        <!--<small class="text-danger col-md-12"-->
                        <!--ng-show="receiveShipmentForm.courier.$invalid && !receiveShipmentForm.courier.$pristine">-->
                        <!--Error : Required & Only numbers,alphabets,hyphen and dashes allowed-->
                        <!--</small>-->
                        <!--</div>-->

                        <div class="form-group " ng-hide="true"
                             ng-class="{ 'has-error'  : receiveShipmentForm.storage.$invalid && !receiveShipmentForm.storage.$pristine }">
                            <label for="storage" class="col-2 col-form-label">Means Of Storage</label>
                            <div class="col-10">
                                <input class="form-control" type="text" id="storage" name="storage"
                                       ng-pattern="samples.alphaNumHyDashSpaceRegExp" style="max-width: 47%;"
                                       ng-model="samples.receiveShipmentFormData.storage">
                            </div>
                            <small class="text-danger col-md-12"
                                   ng-show="receiveShipmentForm.storage.$invalid && !receiveShipmentForm.storage.$pristine">
                                Error : Required & Only numbers,alphabets,hyphen and dashes allowed
                            </small>
                        </div>

                        <div class="form-group "
                             ng-class="{ 'has-error'  : receiveShipmentForm.shipmentStatus.$invalid && !receiveShipmentForm.shipmentStatus.$pristine }">
                            <label for="type" class="col-2 col-form-label">Condition Status</label>
                            <div class="col-10">
                                <select class="form-control" type="text" id="" name="shipmentStatus"
                                        style="max-width: 47%;"
                                        ng-model="samples.receiveShipmentFormData.shipmentStatus">
                                    <option selected="" value="3"> Received Okay</option>
                                    <option selected="" value="5"> Spoilt</option>
                                </select>
                            </div>
                            <small class="text-danger col-md-12"
                                   ng-show="receiveShipmentForm.shipmentStatus.$invalid && !receiveShipmentForm.shipmentStatus.$pristine">
                                Error : Required & Only numbers,alphabets,hyphen and dashes allowed
                            </small>
                        </div>
                        <div class="form-group "
                             ng-class="{ 'has-error'  : receiveShipmentForm.receiveComments.$invalid && !receiveShipmentForm.receiveComments.$pristine }">
                            <label for="receiveComments" class="col-2 col-form-label">Receive Comments</label>
                            <div class="col-10">
                                <textarea class="form-control" id="receiveComments" required name="receiveComments"
                                          ng-pattern="samples.alphaNumHyDashSpaceRegExp" style="max-width: 47%;"
                                          ng-model="samples.receiveShipmentFormData.receiveComments">

                                </textarea>
                            </div>
                            <small class="text-danger col-md-12"
                                   ng-show="receiveShipmentForm.receiveComments.$invalid && !receiveShipmentForm.receiveComments.$pristine">
                                Error : Required & Only numbers,alphabets,hyphen and dashes allowed
                            </small>
                        </div>
                        <div class="form-group ">
                            <label for="storage" class="col-2 col-form-label"></label>
                            <div class="col-10">
                                <button class="btn btn-success col-md-12" style="max-width: 47%;"
                                        ng-disabled="receiveShipmentForm.$invalid || samples.savingInProgress"
                                        ng-click="samples.saveReceiveShipmentForm(samples.receiveShipmentFormData)"
                                >Save Receiving Details<i class="fa fa-spin {{samples.savingSpinner}}"></i>
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        <!--</div>-->
    </div>
    <!-- /.modal-content -->
</div>