.side-menu ul li {
    background-color:#002a80 !important;
    color: white;
}

.side-menu ul li:hover {
    background-color: #0922DE;
}
.has-error{
    border-color: red;
    color:red;
}


* {
    border-radius: 0 !important;
}
*,.btn{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.btn{
    border-radius: 0 !important;
}
aside {
    position:  absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 200px;
    background: rgba(255,255,255,0.66);
    border: 2px  solid rgba(0,0,0,0.5);
    border-radius: 4px; padding: 8px;
}

.modal
{
    /*overflow: hidden;*/
    border-radius:0px !important;
}
.modal-dialog{
    margin-right: 0;
    margin-left: 0;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

.nanobar {
    width: 100%;
    height: 3px;
    z-index: 9999;
    top:0
}
.bar {
    width: 0;
    height: 100%;
    transition: height .9s;
    background:#FF1716;
}
.border-bottom{
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px lightgrey solid;

}