.side-menu ul li {
    background-color: #002a80 !important;
    color: white;
}
.micro{ 
    zoom: 1.0; 
    -moz-transform: scale(1.0); 
    -moz-transform-origin: 0 0;
} 
.side-menu ul li:hover {
    background-color: #0922DE;
}

.has-error {
    border-color: red;
    color: red;
}

* {
    border-radius: 0 !important;
}
h3 input{
    font-size-adjust: 12px;
}

*, .btn {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.btn {
    border-radius: 0 !important;
}

aside {
    position: absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 200px;
    background: rgba(255, 255, 255, 0.66);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 8px;
}

.modal {
    /*overflow: hidden;*/
    border-radius: 0px !important;

}

.modal-dialog {
    margin-right: auto;
    margin-left: auto;
    z-index: 10000;
}

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
}

.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
}

.nanobar {
    width: 100%;
    height: 3px;
    z-index: 9999;
    top: 0
}

.bar {
    width: 0;
    height: 100%;
    transition: height .9s;
    background: #FF1716;
}

.border-bottom {
    padding-bottom: 39px;
    /*margin-bottom: 7px;*/
    border-bottom: 1px lightgrey solid;

}

table .btn-sm {
    height: 25px !important;
    /*margin: 0px!important;*/
    padding-top: 1px !important;
}

.side-info a {
    color: white !important;
}

.side-info a:hover {
    color: white !important;
    text-decoration: underline;
}

h3 input type {
    font-size: 14px;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.panel small {
    /*color: white !important;*/
}

.table {
    /*padding-left:0px !important;*/
    /*padding-right:0px !important;*/
    /*margin-left:0px !important;*/
    /*margin-right:0px !important;*/
}

.tooltip {
    position: relative;
    display: inline-block;
    font-size: 16px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    font-size: 12px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.path {
    border-bottom: 1px darkgray solid;
    border-top: 1px darkgray solid;
    padding: 5px;
    font-size: 16px;
    background-color: rgba(100, 100, 111, 0.51);
    color: white;
}

.path a {
    color: white;
}

.github.ribbon {
    position: fixed;
    display: block;
    top: 40px;
    right: 0;
    border: 0;
    z-index: 1001;
}

.prettyprint {
    padding: 10px !important;
}

#wrap {
    padding-top: 70px;
}

#home h1 {
    margin-bottom: 30px;
}

#demo,
#examples,
#support,
#download {
    padding-top: 40px;
}

.com {
    color: #93a1a1;
}

.lit {
    color: #195f91;
}

.pun, .opn, .clo {
    color: #93a1a1;
}

.fun {
    color: #dc322f;
}

.str, .atv {
    color: #D14;
}

.kwd, .linenums .tag {
    color: #1e347b;
}

.typ, .atn, .dec, .var {
    color: teal;
}

.pln {
    color: #48484c;
}

.prettyprint {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}

.prettyprint.linenums {
    -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
    box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin: 0 0 0 33px; /* IE indents via margin-left */
}

ol.linenums li {
    padding-left: 12px;
    color: #bebec5;
    line-height: 18px;
    text-shadow: 0 1px 0 #fff;
}

h3 {
    /*border-bottom: 0px lightgrey solid;*/
    padding-bottom: 12px;

}

li .active {
    border-top: 3px red solid;
}
.text-bolder{
    font-weight:bolder !important;
}
.label-left{
    border-right:1px solid black;
}
.label-mini{
    border : 1px solid rgba(19,19,19,0.72);
    padding: 13px;
    border-radius: 8px !important;
    margin : 8px;
}
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
.btn-round{
   cursor: pointer;
}
td .form-group{
padding: 0px !important;
    margin: 0px!important;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
