aside {
    position:  absolute;
    left: 0;
    top: 0; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 200px;
    background: rgba(255,255,255,0.66);
    border: 2px  solid rgba(0,0,0,0.5);
    border-radius: 4px; padding: 8px;
}

.modal
{
    overflow: hidden;
    border-radius:0px !important;
}
.modal-dialog{
    margin-right: 0;
    margin-left: 0;
}