<div>
    <h3>Round Performance
    <i class="fa fa-spin {{Graphs.loaderProgressSpinner}}"></i>
    </h3>

    <form name="genGraph" class="filters" ng-init="Graphs.genFilter={}">

        <div class="row col-md-3 filterDiv " >
            <input type="text" class="form-control input-sm" ng-model="Graphs.genFilter.dateFrom"
                   data-date-format="yyyy-MM-dd" placeholder="select from date"
                   data-min-date="" data-max-date="today"
                   data-autoclose="1" aria-describedby="basic-addon2"
                   name="datePrepared"
                   bs-datepicker>
        </div>
        <div class="row col-md-3 filterDiv ">
            <input type="text" class="form-control input-sm" ng-model="Graphs.genFilter.dateTo"
                   data-date-format="yyyy-MM-dd" placeholder="select to date"
                   data-min-date="" data-max-date="today"
                   data-autoclose="1" aria-describedby="basic-addon2"
                   name="datePrepared"
                   bs-datepicker>
        </div>

        <div class="col-md-3 row filterDiv" ng-init="Graphs.getCounties()">
            <select class="form-control input-sm" ng-model="Graphs.genFilter.region">
                <option disabled selected>---SELECT COUNTY-</option>
                <option ng-value="0" selected>SELECT ALL</option>
                <option value="{{county.CountyID}}" ng-repeat="county in Graphs.filter.counties">
                    {{county.Description}}
                </option>
            </select>
        </div>
        <!--<div class="col-md-3 row filterDiv" ng-init="Graphs.getLabs()">-->
            <!--<select class="form-control input-sm" ng-model="Graphs.genFilter.participantId">-->
                <!--<option disabled selected>-&#45;&#45;SELECT TEST TYPE-&#45;&#45;</option>-->
                <!--<option ng-value="0" >-&#45;&#45;SELECT ALL-&#45;&#45;</option>-->
                <!--<option value="1">ID</option>-->
                <!--<option value="2">AST</option>-->
                <!--<option value="3">Gram Stain</option>-->
            <!--</select>-->
        <!--</div>-->
        <div class="col-md-1 row filterDiv">
            <button class="btn btn-primary btn-sm"
                    ng-click="Graphs.getResultsOnRound(Graphs.genFilter)"> Generate </button>
        </div>
        <div class="col-md-1 row filterDiv">
            <button class="btn btn-info btn-sm"
                    ng-click="Graphs.printGraph()"> print </button>
        </div>


    </form>


    <div class="table-bordered" id="printgraph">
        <nvd3 options="Graphs.options" data="Graphs.roundsGraphData"></nvd3>






    </div>
</div>
</div>