<div class="col-md-12" ng-cloak="">
    <div class="clearfix">&nbsp;</div>
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel panel-heading ">
                <h5>
                    <x ng-show="samples.shipmentFormData.id > 0">Edit {{samples.panelFormData.shipmentName}}</x>
                    <x ng-hide="samples.shipmentFormData.id > 0">Add</x>
                    Shipment
                    <div class="label btn label-default pull-right" ng-click="samples.emptyFormData('tbl_bac_shipments',0)">
                        <i class="fa fa-close"></i> Cancel
                    </div>
                </h5>
            </div>
            <div class="panel panel-body"  style="margin: 10px !important;">
                <div id='alert' tabindex='1'>
                    <div class="alert {{samples.feedbackObject.fbbgColor}}" ng-show="samples.feedbackObject.fbStatus">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>

                        <strong>Response : </strong> {{samples.feedbackObject.fbMessage}}
                    </div>
                </div>
                <form class="form-horizontal " name="shipmentForm" novalidate>
                    <div class="form-group row"
                         ng-class="{ 'has-error'  : shipmentForm.shipmentName.$invalid && !shipmentForm.shipmentName.$pristine }">
                        <label for="shipmentName" class="col-2 col-form-label">Shipment Name.</label>
                        <div class="col-10">
                            <input class="form-control" type="text" id="shipmentName" required name="shipmentName"
                                   ng-pattern="samples.alphaNumHyDashSpaceRegExp"
                                   ng-model="samples.shipmentFormData.shipmentName">
                        </div>
                        <small class="text-danger col-md-12"
                               ng-show="shipmentForm.shipmentName.$invalid && !shipmentForm.shipmentName.$pristine">
                            Error : Required & Only numbers,alphabets,hyphen and dashes allowed
                        </small>
                    </div>
                    <div class="form-group row" ng-hide="true"
                         ng-class="{ 'has-error'  : shipmentForm.numberOfPanels.$invalid && !shipmentForm.numberOfPanels.$pristine }">
                        <label for="label" class="col-2 col-form-label">Number Of Panels </label>
                        <div class="col-10">
                            <input class="form-control"
                                   ng-init="samples.shipmentFormData.numberOfPanels=1"
                                   type="text" id="label" required
                                   ng-pattern="samples.alphaNumHyDashSpaceRegExp" value="1"
                                   ng-model="samples.shipmentFormData.numberOfPanels" name="numberOfPanels">
                        </div>
                        <small class="text-danger col-md-12"
                               ng-show="shipmentForm.numberOfPanels.$invalid && !shipmentForm.numberOfPanels.$pristine">
                            Error : Required & Only numbers.
                        </small>
                    </div>

                    <div class="form-group row"
                         ng-class="{ 'has-error'  : shipmentForm.preparedBy.$invalid && !shipmentForm.preparedBy.$pristine }">
                        <label for="preparedBy" class="col-2 col-form-label">Prepared By</label>
                        <div class="col-10">
                            <input class="form-control" type="text" id="preparedBy" required name="preparedBy"
                                   ng-pattern="samples.alphaNumHyDashSpaceRegExp"
                                   ng-model="samples.shipmentFormData.preparedBy">
                        </div>
                        <small class="text-danger col-md-12"
                               ng-show="shipmentForm.preparedBy.$invalid && !shipmentForm.preparedBy.$pristine">
                            Error : Required & Only numbers,alphabets,hyphen and dashes allowed
                        </small>
                    </div>
                    <div class="form-group row"
                         ng-class="{ 'has-error'  : shipmentForm.datePrepared.$invalid && !shipmentForm.datePrepared.$pristine }">
                        <label for="type" class="col-2 col-form-label">Date Prepared</label>
                        <div class="col-10">


                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-calendar"></i></span>
                                <input type="text" class="form-control" ng-model="samples.shipmentFormData.datePrepared"
                                       data-date-format="yyyy-MM-dd" required=""
                                       data-min-date="" data-max-date="today"
                                       data-autoclose="1" aria-describedby="basic-addon2"
                                       name="startDate"
                                       bs-datepicker>
                            </div>
                            <small class="text-danger col-md-12"
                                   ng-show="shipmentForm.datePrepared.$invalid && !shipmentForm.datePrepared.$pristine">
                                Error : please check you date format : e.g 2016-10-22/yyyy-MM-DD
                            </small>

                        </div>
                    </div>

                    <!--<div class="form-group row" ng-init="samples.getShipmentsForDelivery('tbl_bac_rounds','status','1')"-->
                    <!--ng-class="{ 'has-error'  : shipmentForm.roundId.$invalid && !shipmentForm.roundId.$pristine }">-->
                    <!--<label for="roundId" class="col-2 col-form-label">Round</label>-->
                    <!--<div class="col-10">-->
                    <!--<input type="text" id="roundId" class="form-control" ng-model="samples.shipmentFormData.roundId" data-min-length="0"-->
                    <!--data-html="1" data-auto-select="true" data-animation="am-flip-x" data-container="body"-->
                    <!--required  ng-pattern="samples.alphaNumHyDashSpaceRegExp"-->
                    <!--bs-options="icon.roundName as icon.roundName for icon in samples.rounds" placeholder="Search Round" bs-typeahead>-->
                    <!--</div>-->
                    <!--<small class="text-danger col-md-12"-->
                    <!--ng-show="shipmentForm.roundId.$invalid && !shipmentForm.roundId.$pristine">-->
                    <!--Error : Required & Only numbers,alphabets,hyphen and dashes allowed-->
                    <!--</small>-->
                    <!--</div>-->


                    <div class="form-group row"
                         ng-class="{ 'has-error'  : shipmentForm.shipmentDsc.$invalid && !shipmentForm.shipmentDsc.$pristine }">
                        <label for="type" class="col-2 col-form-label">Shipment Description</label>
                        <div class="col-10">
                    <textarea class="form-control" id="type" required name="shipmentDsc"
                             
                              ng-model="samples.shipmentFormData.shipmentDsc">

                    </textarea>
                        </div>
                        <small class="text-danger col-md-12"
                               ng-show="shipmentForm.shipmentDsc.$invalid && !shipmentForm.shipmentDsc.$pristine">
                            Error : Required & Only numbers,alphabets,hyphen and dashes allowed
                        </small>
                    </div>
                    <div class="form-group row"
                         ng-class="{ 'has-error'  : shipmentForm.shipmentLabel.$invalid && !shipmentForm.shipmentLabel.$pristine }">
                        <label for="shipmentLabel" class="col-2 col-form-label">Shipment Label(Optional)</label>
                        <div class="col-10">
                            <input class="form-control" type="text" id="shipmentLabel" name="shipmentLabel"
                                   
                                   ng-model="samples.shipmentFormData.shipmentLabel">

                        </div>

                    </div>


                    <!--<div class="form-group row">-->
                    <!--<label for="" class="col-2 col-form-label">Panels</label>-->
                    <!--<div class="col-10">-->
                    <!--<a class="link-black link">Click to add samples to panels or add later</a>-->
                    <!--</div>-->
                    <!--</div>-->


                    <div class="form-group row">

                        <button class="btn btn-success col-md-12 pull-right"
                                ng-disabled="shipmentForm.$invalid || samples.savingInProgress"
                                ng-click="samples.saveSampleFormData('tbl_bac_shipments',samples.shipmentFormData)"
                        >Save Shipment <i class="fa fa-spin {{samples.savingSpinner}}"></i></button>
                    </div>
                    <div class="form-group">

                        <div class="col-10">

                            <button class="btn btn-danger col-md-12"
                                    ng-click="samples.emptyFormData('tbl_bac_shipments',0)"
                            >Cancel</i>
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>