<div class="panel panel-default bg-info">
    <div class="h4 col-md-12 text-capitalize">
        <br>
        Expected Result for <b> {{samples.clickedSample.batchName}}</b>
        <small><i>-({{samples.clickedSample.datePrepared}})</i></small>
        <button class="pull-right btn btn-danger btn-sm text-gray" ng-hide="samples.resultsFormData.id >0"
                ng-click="samples.samplesActivePage('viewsamples',0)"><i class="fa fa-close"></i> cancel
        </button>
        <button class="pull-right btn btn-danger btn-sm text-gray" ng-show="samples.resultsFormData.id >0"
                ng-click="samples.samplesActivePage('viewExpectedResults',0)"><i class="fa fa-close"></i> close
        </button>
    </div>
    <br>
</div>
<div id='alert' tabindex='1'></div>
<div class="alert {{samples.feedbackObject.fbbgColor}}" ng-show="samples.feedbackObject.fbStatus">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Response : </strong> {{samples.feedbackObject.fbMessage}}
</div>

<h3>MICROBIOLOGY IDENTIFICATION REPORT FORM</h3>
<div class="">
    <table class="table table-bordered">
        <thead class="btn-primary">
        <tr>
            <th>
                SAMPLE
            </th>
            <th>
                SOURCE
            </th>
            <th>
                CLINICAL DETAILS
            </th>
            <th>
                INSTRUCTIONS
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{samples.clickedSample.batchName}}</td>
            <td>{{samples.clickedSample.materialSource}}</td>

            <td>{{samples.clickedSample.sampleDetails}}</td>
            <td>{{samples.clickedSample.sampleInstructions}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="clearfix">&nbsp;</div>
<form class="form-horizontal" novalidate="" name="resultsData">
    <table class="table table-bordered">
        <thead class="btn-primary">
        <tr>
            <th>
                Description
            </th>
            <th>
                Results
            </th>
            <th>
                score
            </th>

        </tr>
        </thead>
        <tbody ng-form novalidate="" name="resultsData">
        <tr ng-class="{ 'has-error'
             : (resultsData.grainStainReaction.$invalid && !resultsData.grainStainReaction.$pristine ) ||
              (resultsData.grainStainReactionScore.$invalid && !resultsData.grainStainReactionScore.$pristine )
              }">
            <td width="30%">Gram stain reaction and morphology</td>
            <td width="55%">
                <input class="form-control col-md-12" type="text" ng-pattern="samples.alphaNumHyDashSpaceRegExp"
                       placeholder="Please enter the grain stain results"
                       ng-model="samples.resultsFormData.grainStainReaction"  name="grainStainReaction">
            </td>
            <td width="15%"><input class="form-control col-md-12"
                                   ng-pattern="samples.numericOnly" placeholder="score"
                                   ng-model="samples.resultsFormData.grainStainReactionScore" 
                                   name="grainStainReactionScore"></td>
        </tr>
        <tr ng-class="{ 'has-error'  : resultsData.primaryMedia.$invalid && !resultsData.primaryMedia.$pristine ||
              (resultsData.primaryMediaScore.$invalid && !resultsData.primaryMediaScore.$pristine ) }">
            <td width="30%">Details of primary media used for isolation and manufacturer</td>
            <td width="55%">
                <input class="form-control col-md-12" type="text"
                       ng-pattern="samples.alphaNumHyDashSpaceRegExp"
                       placeholder="Please enter Details of primary media "
                        ng-init="samples.resultsFormData.primaryMedia='NONE'"
                       ng-model="samples.resultsFormData.primaryMedia" value="NONE"
                       name="primaryMedia">
            </td>
            <td width="15%"><input class="form-control col-md-12" type="text"  ng-disabled="false"
                                   ng-pattern="samples.numericOnly" placeholder="N/A"
                                   ng-model="samples.resultsFormData.primaryMediaScore"
                                   name="primaryMediaScore"></td>
        </tr>
        <tr ng-class="{ 'has-error'  : resultsData.incubationConditions.$invalid && !resultsData.incubationConditions.$pristine||
              (resultsData.incubationConditionsScore.$invalid && !resultsData.incubationConditionsScore.$pristine )  }">
            <td width="30%">Incubation conditions</td>
            <td width="55%">
                <input class="form-control col-md-12" type="text" ng-pattern="samples.alphaNumHyDashSpaceRegExp"
                       placeholder="Please enter Incubation conditions"
                       ng-model="samples.resultsFormData.incubationConditions" ng-init="samples.resultsFormData.incubationConditions='NONE'"
                       name="incubationConditions">
            </td>
            <td width="15%"><input class="form-control col-md-12" type="text" ng-disabled="false"
                                   ng-pattern="samples.numericOnly" placeholder="N/A"
                                   ng-model="samples.resultsFormData.incubationConditionsScore"
                                   name="incubationConditionsScore"></td>
        </tr>
        <tr ng-class="{ 'has-error'  : resultsData.colonialMorphology.$invalid && !resultsData.colonialMorphology.$pristine||
              (resultsData.colonialMorphologyScore.$invalid && !resultsData.colonialMorphologyScore.$pristine )  }">
            <td width="30%">Colonial morphology (colony appearance on media)</td>
            <td width="55%">
                <input class="form-control col-md-12" type="text" ng-pattern="samples.alphaNumHyDashSpaceRegExp"
                       placeholder="Please enter Colonial morphology"
                       ng-model="samples.resultsFormData.colonialMorphology" ng-init="samples.resultsFormData.colonialMorphology='NONE'" name="colonialMorphology">
            </td>
            <td width="15%"><input class="form-control col-md-12" type="text"  ng-disabled="false"
                                   ng-pattern="samples.numericOnly" placeholder="N/A"
                                   ng-model="samples.resultsFormData.colonialMorphologyScore"
                                   name="colonialMorphologyScore"></td>
        </tr>
        <tr ng-class="{ 'has-error'  : resultsData.bacterialQualification.$invalid && !resultsData.bacterialQualification.$pristine ||
              (resultsData.bacterialQualificationScore.$invalid && !resultsData.bacterialQualificationScore.$pristine ) }">
            <td width="30%">Bacterial quantification (if applicable)</td>
            <td width="55%">
                <input class="form-control col-md-12" type="text" ng-pattern="samples.alphaNumHyDashSpaceRegExp"
                       placeholder="Please enter Bacterial quantification"
                       ng-model="samples.resultsFormData.bacterialQualification" ng-init="samples.resultsFormData.bacterialQualification='NONE'"
                       name="bacterialQualification">
            </td>
            <td width="15%"><input class="form-control col-md-12" type="text"  ng-disabled="false"
                                   ng-pattern="samples.numericOnly" placeholder="N/A"
                                   ng-model="samples.resultsFormData.bacterialQualificationScore"
                                   name="bacterialQualificationScore"></td>
        </tr>
        <tr ng-class="{ 'has-error'  : resultsData.bacterialReagents.$invalid && !resultsData.bacterialReagents.$pristine||
              (resultsData.bacterialReagentsScore.$invalid && !resultsData.bacterialReagentsScore.$pristine )  }">
            <td width="30%">Biochemical reagents or test used for organisms identification e.g. API, Indole.
                Indicate
                the reaction observed.
            </td>

            <td width="55%">
                <input class="form-control col-md-12" type="text" ng-pattern="samples.bacterialReagents"
                       placeholder="Please enter Biochemical reagents"
                       ng-model="samples.resultsFormData.bacterialReagents" ng-init="samples.resultsFormData.bacterialReagents='NONE'" name="bacterialReagents">
            </td>
            <td width="15%"><input class="form-control col-md-12" type="text"  ng-disabled="false"
                                   ng-pattern="samples.numericOnly" placeholder="N/A"
                                   ng-model="samples.resultsFormData.bacterialReagentsScore"
                                   name="bacterialReagentsScore"></td>
        </tr>
        <tr ng-class="{ 'has-error'  : resultsData.isolateProcessing.$invalid && !resultsData.isolateProcessing.$pristine ||
              (resultsData.isolateProcessingScore.$invalid && !resultsData.isolateProcessingScore.$pristine ) }">
            <td width="30%">Discuss further processing of isolate e.g. serotyping:</td>
            <td width="55%">
                <input class="form-control col-md-12" type="text" ng-pattern="samples.alphaNumHyDashSpaceRegExp"
                       placeholder="Please Discuss further processing" ng-init="samples.resultsFormData.isolateProcessing='NONE'"
                       ng-model="samples.resultsFormData.isolateProcessing" required name="isolateProcessing">
            </td>
            <td width="15%"><input class="form-control col-md-12" type="text"  ng-disabled="false"
                                   ng-pattern="samples.numericOnly" placeholder="N/A" 
                                   ng-model="samples.resultsFormData.isolateProcessingScore"
                                   name="isolateProcessingScore"></td>
        </tr>

        <tr ng-class="{ 'has-error'  : resultsData.finalIdentification.$invalid && !resultsData.finalIdentification.$pristine ||
              (resultsData.finalIdentificationScore.$invalid && !resultsData.finalIdentificationScore.$pristine ) }">
            <td width="30%">Final identification (i.e. report given to clinician)</td>
            <td width="55%">
                <input class="form-control col-md-12" type="text" ng-pattern="samples.alphaNumHyDashSpaceRegExp"
                       placeholder="Please enter Final identification "
                       ng-model="samples.resultsFormData.finalIdentification"  name="finalIdentification">

            </td>
            <td width="15%"><input class="form-control col-md-12" type="text"
                                   ng-pattern="samples.numericOnly" placeholder="score"
                                   ng-model="samples.resultsFormData.finalIdentificationScore" 
                                   name="finalIdentificationScore"></td>
        </tr>
        <tr>
            <td width="30%">
                <div class="col-md-12 no-padding">
                    <button class="btn btn-warning col-md-12"
                            ng-click="samples.resultsFormData =''"
                    >Reset
                    </button>
                </div>
            </td>
            <td width="55%">
                <div class="col-md-12 no-padding">
                    <button class="btn btn-info col-md-12"
                            ng-click="samples.saveResultsFormData(samples.resultsFormData)"
                            ng-disabled="resultsData.$invalid || samples.savingInProgress"
                    >Save<i class="fa fa-spin {{samples.savingSpinner}}"></i>
                    </button>
                </div>
            </td>
            <td width="15%">
                <div class="col-md-12 no-padding">
                    <button class="btn btn-danger col-md-12"
                            ng-click="samples.samplesActivePage('viewsamples',0)"
                    >Cancel
                    </button>
                </div>
            </td>
        </tbody>
    </table>
</form>
</div>
<div class="" ng-init="samples.get">
    <h3><u>ANTIMICROBIAL AGENT</u></h3>
    <table class="table table-bordered">
        <thead class="btn-primary">
        <tr>
            <th>
                ANTIMICROBIAL
                AGENT

            </th>
            <th>
                Reported to
                Clinician(Yes or No)

            </th>
            <th>
                DISK CONTENT
                (&micro;g or Units)

            </th>
            <!--<th>Score</th>-->
            <th>
                S <sup>1</sup>
            </th>
            <th>
                I <sup>2</sup>
            </th>
            <th>
                R <sup>3</sup>
            </th>
            <th ng-init="where.testAgentType=3">
                <button class="btn btn-sm btn-success" ng-show="samples.resultFields.length >1"
                        ng-click="samples.resultAddField(0)"><i class="fa fa-minus"></i></button>
                <button class="btn btn-sm btn-danger" ng-click="samples.resultAddField(1)"><i
                        class="fa fa-plus"></i></button>
            </th>
        </tr>
        </thead>
        <tbody ng-init="samples.getShipmentsForDelivery('tbl_bac_test_agents','testAgentType','3')">

        <tr ng-repeat="fields in samples.resultFields"
            ng-class="{ 'has-error'  :samples.checkReagentLevel(fields.antiMicroAgent,fields.diskContent)=='outOfRange' }">
            <td nowrap>
                <input type="text" class="form-control"
                       ng-pattern="samples.alphaNumHyDashSpaceRegExp"
                       id="antiMicroAgent" name="antiMicroAgent"
                       class="form-control"
                       data-min-length="0"
                       data-html="0" data-auto-select="false" data-animation="am-flip-x" data-container="body"
                       required ng-pattern="samples.alphaNumHyDashSpaceRegExp"
                       bs-options="icon.testAgentName as icon.testAgentName for icon in samples.testAgents"
                       placeholder="Search Reagent" bs-typeahead

                       ng-model="fields.antiMicroAgent">

            </td>
            <td>
                <select class="form-control" ng-pattern="samples.alphaNumHyDashSpaceRegExp"
                        ng-model="fields.reportedToStatus">
                    <option class="" selected disabled>--select reported--</option>
                    <option value="yes">YES</option>
                    <option value="no">NO</option>
                </select>
            </td>

            <td><input type="text" class="form-control"
                       ng-change="" ng-pattern="samples.numericOnly"
                       ng-model="fields.diskContent"></td>

            <td>
                <input type="radio" class="form-control" ng-change="" value="S"  name="score{{$index}}" ng-model="fields.finalScore">
            </td>
            <td>
                <input type="radio" class="form-control" ng-change=""  value="I" name="score{{$index}}"  ng-model="fields.finalScore">
            </td>
            <td>
                <input type="radio" class="form-control" ng-change="" value="R" name="score{{$index}}"  ng-model="fields.finalScore">
            </td>
            <td ng-init="samples.resultActiveFields=fields">
                <button class="btn btn-sm btn-success" ng-show="samples.resultFields.length > 1"
                        ng-click="samples.resultAddField(0,$index)"><i class="fa fa-minus"></i></button>
                <button class="btn btn-sm btn-danger" ng-click="samples.resultAddField(1)"><i
                        class="fa fa-plus"></i></button>
            </td>
        </tr>
        <tr ng-class="{ 'has-error'  : resultsData.isolateProcessing.$invalid && !resultsData.isolateProcessing.$pristine ||
              (resultsData.isolateProcessingScore.$invalid && !resultsData.isolateProcessingScore.$pristine ) }">
            <td>Total Score</td>
            <td colspan="6">
                <input class="form-control col-md-12" type="text" ng-pattern="samples.numericOnly"
                       placeholder="enter total score"
                       ng-model="samples.agentsScore" required name="agentScore">
            </td>

        </tr>
        <tr>
            <td></td>
            <td>
                <div class="col-md-12 no-padding">
                    <button class="btn btn-warning col-md-12" ng-disabled="false"
                            ng-click="samples.susceptibilityFormData =''"
                    >Reset
                    </button>
                </div>
            </td>
            <td colspan="6">
                <div class="col-md-12 no-padding">

                    <button class="btn btn-success col-md-12"
                            ng-click="samples.saveAntiMicroAgent(samples.resultFields,1,samples.agentsScore)"
                            ng-disabled=" samples.savingInProgress||
                                samples.checkReagentLevel(fields.antiMicroAgent,fields.diskContent)=='outOfRange'"
                    >Save<i class="fa fa-spin {{samples.savingSpinner}}"></i>
                    </button>


                </div>
            </td>

        </tr>

        </tbody>
    </table>
</div>
