<div class="col-md-12">
    <div class="col-md-12 border-bottom" ng-init="samples.getShipmentsForDelivery('tbl_bac_test_agents','status','0,1')">
        <h3>
            <div class="pull-left col-md-4 col-sm-12">Test Reagents
                <small>{{samples.programs.length}} records</small>
                <i class="fa fa-spin {{samples.loaderProgressSpinner}}"></i>
            </div>
            <div class="pull-right col-md-8 col-sm-12">
                <items-per-page></items-per-page>

                <div class="col-md-7 col-sm-9 pull-right">
                    <input type="search" class="col-md-12  btn-sm" ng-model="samples.searchData">
                </div>
                <div class="col-md-1 col-sm-3 pull-right">
                    <a href="#" class=" btn btn-default btn-sm"
                       ng-click="samples.getShipmentsForDelivery('tbl_bac_test_agents','status','0,1')">
                        <i class="fa fa-refresh"></i>
                    </a>
                    &nbsp;
                </div>
            </div>
        </h3>
    </div>
    <div id="alert" tabindex="1" class="col-md-12">
        <div class="clearfix">&nbsp;</div>
        <div class="alert {{samples.feedbackObject.fbbgColor}}" ng-show="samples.feedbackObject.fbStatus">

            <strong>Response : </strong> {{samples.feedbackObject.fbMessage}}
        </div>
    </div>
</div>

<div class="">
    <button class="btn btn-sm btn-info pull-right" ng-click="samples.samplesActivePage('addTestAgents')">Add   Test Reagent
    </button>
</div>
<div class="table-responsive">
    <table class="table table-striped table-condensed table-bordered">
        <thead>
        <tr>
            <th>#.</th>
            <th>Test Reagent</th>
            <th>code</th>
            <th>Date Created</th>
            <th>Type</th>            <!--                                <th>Date Saved</th>-->

            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr dir-paginate="testAgent in samples.testAgents | itemsPerPage: samples.itemsPerPage |filter : samples.searchData">
            <td>{{$index+1}}</td>
            <td>{{testAgent.testAgentName}}</td>
            <td>{{testAgent.testAgentCode}}</td>
            <td>{{testAgent.dateCreated}}</td>
            <td>{{samples.returnSamplesType(testAgent.testAgentType)}}</td>


            <td nowrap>
                <button class="btn btn-info btn-sm"
                        data-placement="right" data-type="info" data-container="body"
                        data-animation="am-fade-and-scale"
                        data-trigger="hover" data-type="success" data-title="Edit courier" bs-tooltip
                        ng-click="samples.editFunction(testAgent,'tbl_bac_test_agents')"><i
                        class="fa fa-edit"></i></button>
                <button class="btn btn-danger btn-sm"
                        data-placement="right" data-type="info" data-container="body"
                        data-animation="am-fade-and-scale"
                        data-trigger="hover" data-type="success" data-title="Remove courier" bs-tooltip
                        ng-click="samples.deleteCustomRow(testAgent.id,'tbl_bac_test_agents')"
                ><i class="fa fa-remove"></i></button>
            </td>
        </tr>
        </tbody>
    </table>

</div>


</div>