<div>
    <h3>EXPECTED RESULTS AND SCORES <i class="fa fa-spin {{samples.loaderProgressSpinner}}"></i>
        <button class="pull-right btn btn-danger btn-sm text-gray"
                ng-click="samples.samplesActivePage('viewsamples',0)"><i class="fa fa-close"></i> close
        </button>
    </h3>
    <div class="pull-right">

        <div class=" col-md-12 no-padding">
            <items-per-page></items-per-page>
            <div class="col-md-7 pull-right">
                <input type="input" class="col-md-12 btn-sm"
                       data-placement="right" data-type="info" data-container="body"
                       data-animation="am-fade-and-scale"
                       data-trigger="hover" data-type="success" data-title="Search Panel" bs-tooltip
                       ng-model="samples.searchData">
            </div>
            <div class="col-md-1 pull-right">
                <a href="#" class=" btn btn-default btn-sm"
                   data-placement="right" data-type="info" data-container="body" data-animation="am-fade-and-scale"
                   data-trigger="hover" data-type="success" data-title="Load Samples" bs-tooltip
                   ng-click="samples.getAllSamples('tbl_bac_expected_results')"><i
                        class="fa fa-refresh"></i>
                </a>
                &nbsp;
            </div>
        </div>

    </div>
    <div class="clearfix">&nbsp;</div>
    <div id='alert' tabindex='1'></div>
    <div class="alert {{samples.feedbackObject.fbbgColor}}" ng-show="samples.feedbackObject.fbStatus">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Server Response : </strong> {{samples.feedbackObject.fbMessage}}
    </div>
    <div ng-init="scoreCols=false" class="col-md-12 text-primary">

        <a href="#" ng-click="scoreCols=false" ng-show="scoreCols"><i class="fa fa-check-circle"></i> hide score columns</a>
        <a href="#" ng-click="scoreCols=true" ng-hide="scoreCols"><i class="fa fa-minus-circle"></i> show score columns</a>
    </div>
    <div class="col-md-12" style="overflow-x:auto;">
        <table class="table table-bordered text-capitalize">
            <thead>
            <tr class="btn-primary">
                <th>#</th>
                <th>Sample</th>
                <!--<th>Round</th>-->
                <th>grain Stain Reaction</th>
                <th ng-show="scoreCols">grain StainScore</th>
                <th>primary Media</th>
                <th ng-show="scoreCols">primaryMedia Score</th>
                <th>incubation Conditions</th>
                <th ng-show="scoreCols">incubation Conditions Score</th>
                <th>colonial Morphology</th>
                <th ng-show="scoreCols">colonial Morphology Score</th>
                <th>bacterial Qualification</th>
                <th ng-show="scoreCols">bacterial Qualification Score</th>
                <th>bacterial Reagents</th>
                <th ng-show="scoreCols">bacterial Reagents Score</th>
                <th>final Identification</th>
                <th ng-show="scoreCols">final Identification Score</th>
                <th>Date Created</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="expectedResults in samples.expectedResults | itemsPerPage: samples.itemsPerPage |filter : samples.searchData">
                <td>{{$index+1}}</td>
                <td>{{expectedResults.batchName}}</td>
                <td>{{expectedResults.grainStainReaction}}</td>
                <td ng-show="scoreCols">{{expectedResults.grainStainReactionScore}}</td>
                <td>{{expectedResults.primaryMedia}}</td>
                <td ng-show="scoreCols">{{expectedResults.primaryMediaScore}}</td>
                <td>{{expectedResults.incubationConditions}}</td>
                <td ng-show="scoreCols">{{expectedResults.incubationConditionsScore}}</td>
                <td>{{expectedResults.colonialMorphology}}</td>
                <td ng-show="scoreCols">{{expectedResults.colonialMorphologyScore}}</td>
                <td>{{expectedResults.bacterialQualification}}</td>
                <td ng-show="scoreCols">{{expectedResults.bacterialQualificationScore}}</td>
                <td>{{expectedResults.bacterialReagents}}</td>
                <td ng-show="scoreCols">{{expectedResults.bacterialReagentsScore}}</td>
                <td>{{expectedResults.finalIdentification}}</td>
                <td ng-show="scoreCols">{{expectedResults.finalIdentificationScore}}</td>
                <td>{{expectedResults.dateCreated }}</td>
                <td>
                    <a href="#" class="label label-info"
                       ng-click="samples.editFunction(expectedResults,'tbl_bac_expected_results')">
                        <i class="fa fa-edit"></i> edit
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" max-size="5"
                                 direction-links="true"
                                 boundary-links="true">
        </dir-pagination-controls>
    </div>
</div>